CostalCloud/force-app/main/default/flows/Attachment_File_Permit_Approvals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Approved</name>
        <label>Assign: Approved</label>
        <locationX>512</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Waiver_Rejected</name>
        <label>Assign: Permit Waiver Rejected</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Document Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejected_Permit</name>
        <label>Assign: Rejected Permit</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submitted</name>
        <label>Assign: Submitted</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Document Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AutoPushed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Private</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Customer_Contact</name>
        <label>Assignment: Pending Customer Contact</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Initial_Contact</name>
        <label>Assignment: Pending Initial Contact</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Product</name>
        <label>Assignment: Pending Product</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Approval_Status</name>
        <label>Decision: Approval Status?</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Submitted</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Type</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ETA_Passed</name>
        <label>Decision: ETA Passed?</label>
        <locationX>512</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_PO_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ETA Has Passed</defaultConnectorLabel>
        <rules>
            <name>ETA_Has_Not_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Updated_ETA__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Product</targetReference>
            </connector>
            <label>ETA Has Not Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Pending_Customer_Contact_Note</name>
        <label>Decision: Has Pending Customer Contact Note</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Assignment_Pending_Initial_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Customer_Contact</targetReference>
            </connector>
            <label>Yes, Pending Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_PO_Note</name>
        <label>Decision: Has PO Note?</label>
        <locationX>974</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>No PO Note</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_PO_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PONote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_Note</targetReference>
            </connector>
            <label>Yes, Has PO Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type</name>
        <label>Decision: Type</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rejected_Permit</targetReference>
            </connector>
            <label>Permit</label>
        </rules>
        <rules>
            <name>Permit_Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permit Waiver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permit_Waiver_Rejected</targetReference>
            </connector>
            <label>Permit Waiver</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_Today</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Attachment/File: Permit Approvals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attachment/File: Permit Approvals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PO_Note</name>
        <label>Create PO Note</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Auto_Push__c</field>
            <value>
                <elementReference>var_AutoPushed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_PONote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_PONote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Note__c</field>
            <value>
                <elementReference>var_Private</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PO_Notes</name>
        <label>Get PO Notes</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Pending_Customer_Contact_Note</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Customer Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Not Ready</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>512</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ETA_Passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update: Work Order</label>
        <locationX>974</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Decision_Has_PO_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>var_SubStatus</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Approval_Status</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit Waiver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Attachment_Files__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AutoPushed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_PONote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Private</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
