CostalCloud/force-app/main/default/flows/Formstack_document_generation_WO_WOLI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DDR</name>
        <label>DDR</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Labor_Bid_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwoYQAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>interior</name>
        <label>interior</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>interior_hinge</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwltQAC</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>interior_hinge</name>
        <label>interior hinge</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>window</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwqKQAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Labor_Bid</name>
        <label>Labor Bid</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HS_333</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwpgQAC</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RFI_interior</name>
        <label>RFI interior</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RFI_interior_hinge</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwlyQAC</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RFI_interior_hinge</name>
        <label>RFI interior hinge</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RFI_window</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwyIQAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RFI_window</name>
        <label>RFI window</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RFI_window_treatment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwyNQAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RFI_window_treatment</name>
        <label>RFI window treatment</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwySQAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>window</name>
        <label>window</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>window_treatment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwxoQAC</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>window_treatment</name>
        <label>window treatment</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RFI_Measure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>Get_WOLI.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <stringValue>a1d8G000000GwxtQAC</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>DDR_decision</name>
        <label>DDR decision</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Labor_Bid_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HS_333</name>
        <label>HS-333</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>RFI_Measure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_333_National_Measure_Door__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>interior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Labor_Bid_decision</name>
        <label>Labor Bid decision</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>HS_333</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Labor_Bid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Labor_Bid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RFI_Measure</name>
        <label>RFI Measure</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Measure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_interior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Formstack document generation (WO - WOLI) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formstack document generation (WO - WOLI)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DDR_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <filterLogic>(1 AND 5) OR (2 AND 6) OR (3 AND 7) OR (4 AND 8)</filterLogic>
        <filters>
            <field>HS_333_National_Measure_Door__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>DDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>Labor_Bid__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>RFI_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>HS_333_National_Measure_Door__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DDR__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Labor_Bid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RFI_Measure__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
