CostalCloud/force-app/main/default/flows/Generate_Youreka_Forms_by_Work_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_to_Create</name>
        <label>Add to Collection to Create</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>NewFormsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Form_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FormToCreate.disco__Form_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Form_Templates.Form_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormToCreate.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormToCreate.Form_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Form_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Templates_Exist</name>
        <label>Templates Exist?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type_Form_Templates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Generate Youreka Forms by Work Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Youreka Forms by Work Type</label>
    <loops>
        <name>Loop_Through_Form_Templates</name>
        <label>Loop Through Form Templates</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Work_Type_Form_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Forms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Form_Group</name>
        <label>Create New Form Group</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Through_Form_Templates</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service_Appointment.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Form_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Forms</name>
        <label>Create New Forms</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>NewFormsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Form_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Form_Templates</name>
        <label>Get Work Type Form Templates</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Templates_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Type_Form_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Type_Form_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FormToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
    <variables>
        <name>NewFormsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
</Flow>
