CostalCloud/force-app/main/default/flows/Generate_Youreka_Forms_from_New_Discovery.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Discovery_Type</name>
        <label>Discovery Type</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Install_Measure_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.disco__Discovery_Type__r.Form_Template_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measure Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.disco__Discovery_Type__r.Form_Template_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Install Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_Line_Item</targetReference>
            </connector>
            <label>Create Install/Measure Form</label>
        </rules>
        <rules>
            <name>Create_Wall_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.disco__Discovery_Type__r.Form_Template_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wall Measure Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Wall_Record</targetReference>
            </connector>
            <label>Create Wall Form</label>
        </rules>
        <rules>
            <name>Create_Check_Out_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.disco__Discovery_Type__r.Form_Template_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check Out Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Check_Out_Form</targetReference>
            </connector>
            <label>Create Check Out Form</label>
        </rules>
        <rules>
            <name>Lock_Form_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.disco__Discovery_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lock Form Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forms_to_Lock_Status</targetReference>
            </connector>
            <label>Lock Form Group</label>
        </rules>
    </decisions>
    <interviewLabel>Generate Youreka Forms from New Discovery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Youreka Forms from New Discovery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Check_Out_Form</name>
        <label>Create New Check Out Form</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Form_Group__c</field>
            <value>
                <elementReference>$Record.disco__Form__r.Form_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Template__c</field>
            <value>
                <elementReference>$Record.disco__Discovery_Type__r.Form_Template__c</elementReference>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Measure_Form</name>
        <label>Create New Measure Form</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Form_Group__c</field>
            <value>
                <elementReference>$Record.disco__Form__r.Form_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>Create_Work_Order_Line_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Template__c</field>
            <value>
                <elementReference>$Record.disco__Discovery_Type__r.Form_Template__c</elementReference>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Wall_Form</name>
        <label>Create New Wall Form</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Form_Group__c</field>
            <value>
                <elementReference>$Record.disco__Form__r.Form_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>Create_Wall_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Template__c</field>
            <value>
                <elementReference>$Record.disco__Discovery_Type__r.Form_Template__c</elementReference>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Wall_Record</name>
        <label>Create Wall Record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_New_Wall_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <object>Walls__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_New_Measure_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.disco__Discovery_Type__r.Work_Order_Line_Item_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Forms_to_Lock_Status</name>
        <label>Update Forms to Lock Status</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_WO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.disco__Form__r.Form_Group__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>disco__Locked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Status</name>
        <label>Update WO Status</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Measure__c</field>
            <value>
                <elementReference>FormtoLock.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discovery_Type</targetReference>
        </connector>
        <object>disco__Discovery__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FormstoLock</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
    <variables>
        <name>FormtoLock</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
</Flow>
