CostalCloud/force-app/main/default/flows/Rules_Regs_BEFORE_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Index_Key_to_Permit_Key</name>
        <label>Set Index Key to Permit Key</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Index_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_For_Permit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Index_Key_to_RRP_Key</name>
        <label>Set Index Key to RRP Key</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Index_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_For_RRP</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_RecordType_is_RRP</name>
        <label>If RecordType is RRP</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_Index_Key_to_Permit_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Record Type is Permit (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Type_is_RRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Index_Key_to_RRP_Key</targetReference>
            </connector>
            <label>Yes, Record Type is RRP</label>
        </rules>
    </decisions>
    <description>Sets Unique Key on external id field for indexing</description>
    <formulas>
        <name>Key_For_Permit</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}
+ &quot;^&quot; + LEFT( {!$Record.Store_Client__c}, 15 )
+ &quot;^&quot; + TEXT( {!$Record.Program__c} )
+ &quot;^&quot; + TEXT( {!$Record.Category__c} )
+ &quot;^&quot; + {!$Record.svcCodeType__c}
+ &quot;^&quot; + TEXT( {!$Record.Installation_State__c} )</expression>
    </formulas>
    <formulas>
        <name>Key_For_RRP</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}
+ &quot;^&quot; + TEXT( {!$Record.Client_Type__c} )
+ &quot;^&quot; + TEXT( {!$Record.Program__c} )
+ &quot;^&quot; + TEXT( {!$Record.Category__c} )
+ &quot;^&quot; + {!$Record.svcCodeType__c}
+ &quot;^&quot; + TEXT( {!$Record.Installation_State__c} )</expression>
    </formulas>
    <interviewLabel>Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rules/Regs BEFORE Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_RecordType_is_RRP</targetReference>
        </connector>
        <object>Rules_Regs__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
