CostalCloud/force-app/main/default/flows/Work_Order_Flow_On_Create_and_Edit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Home_Year_Built_0</name>
        <label>Set Home Year Built</label>
        <locationX>94</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Home_Year_Built__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentWorkOrder.Home_Year_Built__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_install_and_program_Kitchens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_location_to_Doors_location_0</name>
        <label>Set location to Doors location</label>
        <locationX>94</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1314x000000gpEi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Job_SKU_Kitchens_and_svc_type_Install_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_location_to_Kitchens_electric_plumbing_job_SKUs_0</name>
        <label>Set location to Kitchens, electric/plumbing job SKUs</label>
        <locationX>94</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1314x000000gpF7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Electric_Job_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u4x000000K1cI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Plumbing_Job_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0u4x000000K1cN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_parent_with_year_home_built_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Field_Manager_Kitchen_Manager</name>
        <label>Set Primary Field Manager = Kitchen Manager</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Field_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RFI_Reporting_Market__r.Field_Manager_Kitchen__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Primary_Manager_Reporting_Mkt_Primary_Manager</name>
        <label>Set Primary Manager = Reporting Mkt Primary Manager</label>
        <locationX>314</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Field_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RFI_Reporting_Market__r.Field_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RecordType_to_Install_Kitchens</name>
        <label>Set RecordType to Install Kitchens</label>
        <locationX>94</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1314x000000gpF7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Measure_and_program_Kitchens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecordType_to_Measure_Kitchens</name>
        <label>Set RecordType to Measure Kitchens</label>
        <locationX>94</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124x000000dWr2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Measure_and_Work_Type_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RFI_Reporting_Market_0</name>
        <label>Set RFI Reporting Market</label>
        <locationX>94</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.RFI_Reporting_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Store__r.Reporting_Market__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Job_SKU_Doors_and_svc_type_Install_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_to_Install</name>
        <label>Set Work Type to Install</label>
        <locationX>94</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q4x000000591n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reporting_Market_and_Program_Not_Null_and_Primary_Fld_Manager_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_to_Measure</name>
        <label>Set Work Type to Measure</label>
        <locationX>94</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q4x000000591s</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Install_and_Work_Type_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_parent_with_year_home_built_0</name>
        <label>Has parent with year home built</label>
        <locationX>226</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Is_install_and_program_Kitchens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_parent_has_year_home_built_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrder.Home_Year_Built__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Home_Year_Built__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Year_Built_0</targetReference>
            </connector>
            <label>Yes, parent has year home built</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_client_has_reporting_market_0</name>
        <label>If client has reporting market and RFI reporting market is null</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>If_Job_SKU_Doors_and_svc_type_Install_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_has_reporting_market_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Store__r.Reporting_Market__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Reporting_Market__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RFI_Reporting_Market_0</targetReference>
            </connector>
            <label>Yes, Client has reporting market</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Install_and_Work_Type_Null</name>
        <label>If Install and Work Type Null</label>
        <locationX>226</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Is_Reporting_Market_and_Program_Not_Null_and_Primary_Fld_Manager_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Install_and_Work_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_to_Install</targetReference>
            </connector>
            <label>Yes, Install and Work Type is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Job_SKU_Doors_and_svc_type_Install_0_0</name>
        <label>If Job SKU Doors and svc type Install</label>
        <locationX>226</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>If_Job_SKU_Kitchens_and_svc_type_Install_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Job_SKU_is_Doors_and_Install_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_location_to_Doors_location_0</targetReference>
            </connector>
            <label>Yes, Job SKU is Doors and Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Job_SKU_Kitchens_and_svc_type_Install_0</name>
        <label>If Job SKU Kitchens and svc type Install</label>
        <locationX>226</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Has_parent_with_year_home_built_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Job_SKU_is_Kitchens_and_Install_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kitchens</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1314x000000gpF7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_location_to_Kitchens_electric_plumbing_job_SKUs_0</targetReference>
            </connector>
            <label>Yes, Job SKU is Kitchens and Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Measure_and_Work_Type_Null</name>
        <label>If Measure and Work Type Null</label>
        <locationX>226</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>If_Install_and_Work_Type_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Measure_and_Work_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_to_Measure</targetReference>
            </connector>
            <label>Yes, Measure and Work Type is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Program_Kitchen</name>
        <label>If Program = Kitchen</label>
        <locationX>182</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>Set_Primary_Manager_Reporting_Mkt_Primary_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Program is NOT Kitchen</defaultConnectorLabel>
        <rules>
            <name>Yes_Program_Kitchen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kitchen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Field_Manager_Kitchen_Manager</targetReference>
            </connector>
            <label>Yes, Program = Kitchen</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_record_is_being_created</name>
        <label>If record is being created</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Reporting_Market_and_Program_Not_Null_and_Primary_Fld_Manager_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, record UPDATED (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Yes_record_being_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_client_has_reporting_market_0</targetReference>
            </connector>
            <label>Yes, record CREATED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_install_and_program_Kitchens</name>
        <label>Is install and program Kitchens</label>
        <locationX>226</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Is_Measure_and_program_Kitchens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WO_Install_with_program_Kitchens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kitchens</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>{$Label.Installation_Electrical_Work_Type_Id}</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>{$Label.Installation_Plumbing_Work_Type_Id}</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Created_from_Quick_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordType_to_Install_Kitchens</targetReference>
            </connector>
            <label>Yes, WO Install with program Kitchens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Measure_and_program_Kitchens</name>
        <label>Is Measure and program Kitchens</label>
        <locationX>226</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>If_Measure_and_Work_Type_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WO_Measure_with_program_Kitchens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kitchens</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Created_from_Quick_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordType_to_Measure_Kitchens</targetReference>
            </connector>
            <label>Yes, WO Measure with program Kitchens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reporting_Market_and_Program_Not_Null_and_Primary_Fld_Manager_NULL</name>
        <label>Is Reporting Market and Program Not Null and Primary Fld Manager NULL?</label>
        <locationX>380</locationX>
        <locationY>3215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Fld_Manager_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Reporting_Market__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Field_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Program_Kitchen</targetReference>
            </connector>
            <label>Yes, Primary Fld Manager NULL</label>
        </rules>
    </decisions>
    <description>Replaces the corresponding Process Builder flow that caused the work order trigger to run repeatedly resulting in &quot;Too Many SOQL queries&quot; error</description>
    <formulas>
        <name>LeadTestResultsFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.RRP_Test_Presumed__c} &gt; 0, &quot;Presumed&quot;, &quot;&quot; )

+ IF( {!$Record.RRP_Test_Presumed__c} = 0 &amp;&amp; {!$Record.RRP_Test_Positive__c} &gt; 0, &quot;Positive&quot;, &quot;&quot; )

+ IF( {!$Record.RRP_Test_Presumed__c} = 0 &amp;&amp; {!$Record.RRP_Test_Positive__c} = 0 &amp;&amp; {!$Record.RRP_Test_Negative__c} &gt; 0, &quot;Negative&quot;, &quot;&quot; )

+ IF( {!$Record.RRP_Test_Presumed__c} = 0 &amp;&amp; {!$Record.RRP_Test_Positive__c} = 0 &amp;&amp; {!$Record.RRP_Test_Negative__c} = 0
      &amp;&amp; ISPICKVAL( {!$Record.RRP_Exception_Request_Status__c}, &quot;Data Entry Approved&quot; )

    , CASE( TEXT( {!$Record.RRP_Exception_Request__c} ), &quot;No Labor - not disturbing any paint&quot;, &quot;No Labor&quot;
                                            , &quot;Exempt - disturbing less than x% of paint&quot;, &quot;Exempted&quot;
                                            , &quot;&quot; )
    , &quot;&quot; 
)</expression>
    </formulas>
    <interviewLabel>Work Order - On Create and Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Flow - On Create and Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_record_is_being_created</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
