CostalCloud/force-app/main/default/flows/Work_Order_Scheduled_Past_Due_Update_Only.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Customer_Requested_Cancellation</name>
        <label>Assign: Customer Requested Cancellation</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Requested_New_Date</name>
        <label>Assign:Customer Requested New Date</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emergency_Health</name>
        <label>Assign: Emergency/Health</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Not Ready</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Out_of_Stock</name>
        <label>Assign: Out of Stock</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need PM/RM Assistance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Related</name>
        <label>Assign: Product Related</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unscheduled_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scheduled_In_Error</name>
        <label>Assign: Scheduled In Error</label>
        <locationX>1634</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Weather</name>
        <label>Assign: Weather</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Has_Service_Report</name>
        <label>Assignement: Has Service Report</label>
        <locationX>1392</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Substatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Document Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Note</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Document Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unscheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Unscheduled</name>
        <label>Assignment: Unscheduled</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Note</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_UnscheduledNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unscheduled_Reason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Has_Product_Public_Note</name>
        <label>Decision: Has Product Public Note</label>
        <locationX>1326</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>No Product Note</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Product_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PONote_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_Note_Product</targetReference>
            </connector>
            <label>Yes, Has Product Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Unscheduled_Reason</name>
        <label>Decision: Unscheduled Reason</label>
        <locationX>974</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Do_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Product_Related</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Delayed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Damaged/Defective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Incorrect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Related</targetReference>
            </connector>
            <label>Product Related</label>
        </rules>
        <rules>
            <name>Customer_Requested_New_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Requested New Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Requested_New_Date</targetReference>
            </connector>
            <label>Customer Requested New Date</label>
        </rules>
        <rules>
            <name>Out_of_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Out_of_Stock</targetReference>
            </connector>
            <label>Out of Stock</label>
        </rules>
        <rules>
            <name>Weather</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weather</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Weather</targetReference>
            </connector>
            <label>Weather</label>
        </rules>
        <rules>
            <name>Emergency_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency/Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Emergency_Health</targetReference>
            </connector>
            <label>Emergency/Health</label>
        </rules>
        <rules>
            <name>Customer_Requested_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Requested Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Requested_Cancellation</targetReference>
            </connector>
            <label>Customer Requested Cancellation</label>
        </rules>
        <rules>
            <name>Scheduled_In_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled In Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scheduled_In_Error</targetReference>
            </connector>
            <label>Scheduled In Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Update</name>
        <label>Do Update?</label>
        <locationX>1524</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>No, Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_do_updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>Yes, do updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Report</name>
        <label>Has Service Report?</label>
        <locationX>1524</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Unscheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Report</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Service_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Service_Report__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Service_Report__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_Has_Service_Report</targetReference>
            </connector>
            <label>Yes, Has Service Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unscheduled</name>
        <label>Unscheduled?</label>
        <locationX>1524</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Do_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Unscheduled</defaultConnectorLabel>
        <rules>
            <name>Yes_Unscheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unscheduled_Reason__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Unscheduled</targetReference>
            </connector>
            <label>Yes, Unscheduled</label>
        </rules>
    </decisions>
    <formulas>
        <name>formual_PONoteName</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_Note}, 80)</expression>
    </formulas>
    <formulas>
        <name>formula_UnscheduledNote</name>
        <dataType>String</dataType>
        <expression>&quot;PO Unscheduled &quot; &amp; TEXT({!$Record.Unscheduled_Reason__c})</expression>
    </formulas>
    <interviewLabel>Work Order (Scheduled, Past Due) - Update Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order (Scheduled, Past Due) - Update Only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PO_Note</name>
        <label>Create PO Note</label>
        <locationX>1326</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Decision_Has_Product_Public_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Push__c</field>
            <value>
                <elementReference>var_AutoPush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formual_PONoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Note__c</field>
            <value>
                <elementReference>var_Private</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Auto_Generated_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create public Product Note</description>
        <name>Create_PO_Note_Product</name>
        <label>Create PO Note (Product)</label>
        <locationX>1194</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_PONote_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_PONote_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Note__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Auto_Generated_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auto_Generated_Record_Type</name>
        <label>Get Auto Generated Record Type</label>
        <locationX>1326</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PO_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Generated Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1326</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Auto_Generated_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>var_Substatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Service_Report</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Past Due</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AutoPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PONote_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Private</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Substatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
