CostalCloud/force-app/main/default/flows/Work_Order_Installer_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Work_Order_Record</name>
        <label>Assign: Work Order Record</label>
        <locationX>2690</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SubStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Pending_Customer_Contact</name>
        <label>Assignement: Pending Customer Contact</label>
        <locationX>3218</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Customer_Not_Responding</name>
        <label>Assignment: Customer Not Responding</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed Customer Not Responding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Customer_Requested_Callback</name>
        <label>Assignment: Customer Requested Callback</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Not Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Not Ready, will call RFI when ready to schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Customer_Requested_Cancellation</name>
        <label>Assignment: Customer Requested Cancellation</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed Customer Requested Cancelation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Emergency_Health</name>
        <label>Assignment: Emergency/Health</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Not Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Not Ready, will call RFI when ready to schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_FM_RM_Updated</name>
        <label>Assignment: FM/RM Updated</label>
        <locationX>4538</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm PO Assistance Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Left_Message</name>
        <label>Assignment: Left Message</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Left Message {!formula_Today}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Need_Address_Verification</name>
        <label>Assignment: Need Address Verification</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed Address Verification - Invalid Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Need_Valid_Contact_Information</name>
        <label>Assignment: Need Valid Contact Information</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed Need Valid Contact Information</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Initial_Contact</name>
        <label>Assignment: Pending Initial Contact</label>
        <locationX>3482</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Product</name>
        <label>Assignment: Pending Product</label>
        <locationX>4010</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installer_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Product_0</name>
        <label>Assignment: Pending Product</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installer_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Product_0_0</name>
        <label>Assignment: Pending Product</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installer_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Pending_Product_0_0_0</name>
        <label>Assignment: Pending Product</label>
        <locationX>4274</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installer_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PO_Assigned_to_Wrong_Installer</name>
        <label>Assignment: PO Assigned to Wrong Installer</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need FM/RM Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Assigned to Wrong Installer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PO_Assistance_Confirmed</name>
        <label>Assignment: PO Assistance Confirmed</label>
        <locationX>5066</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Customer Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PO_Incorrect_Update_Required</name>
        <label>Assignment: PO Incorrect/Update Required</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed PO Incorrect/Update Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Product_Received</name>
        <label>Assignment: Product Received</label>
        <locationX>3350</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProductReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdatedETA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PO_Notes_Previous_Customer_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Questions_Concerns_on_PO</name>
        <label>Assignment: Questions/Concerns on PO</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need FM/RM Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Questions/Concerns on PO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrivateNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Autopush</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Store_Updated</name>
        <label>Assignment: Store Updated</label>
        <locationX>4802</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm PO Assistance Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Waiting_on_Design_Product_Details</name>
        <label>Assignment: Waiting on Design/Product Details</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Store Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store assistance needed Waiting on Design/Product Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Has_Left_Message_PO_Note</name>
        <label>Decision: Has Left Message PO Note?</label>
        <locationX>3350</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assignment_Pending_Initial_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, No Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_Left_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Notes_Previous_Customer_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_Pending_Customer_Contact</targetReference>
            </connector>
            <label>Yes, Left Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_PO_Note</name>
        <label>Decision: Has PO Note</label>
        <locationX>2690</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_PO_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PONote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auto_Generated_Note_Record_Type</targetReference>
            </connector>
            <label>Yes, Has PO Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Installer_Action</name>
        <label>Decision: Installer Action?</label>
        <locationX>2690</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Left_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Message</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Left_Message</targetReference>
            </connector>
            <label>Left Message</label>
        </rules>
        <rules>
            <name>Customer_Requested_Call_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Requested Call Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Customer_Requested_Callback</targetReference>
            </connector>
            <label>Customer Requested Call Back</label>
        </rules>
        <rules>
            <name>Emergency_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency/Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Emergency_Health</targetReference>
            </connector>
            <label>Emergency/Health</label>
        </rules>
        <rules>
            <name>Need_Valid_Contact_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need Valid Contact Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Need_Valid_Contact_Information</targetReference>
            </connector>
            <label>Need Valid Contact Information</label>
        </rules>
        <rules>
            <name>Need_Address_Verification_Invalid_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need Address Verification - Invalid Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Need_Address_Verification</targetReference>
            </connector>
            <label>Need Address Verification - Invalid Address</label>
        </rules>
        <rules>
            <name>Waiting_on_Design_Product_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Design/Product Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Waiting_on_Design_Product_Details</targetReference>
            </connector>
            <label>Waiting on Design/Product Details</label>
        </rules>
        <rules>
            <name>PO_Incorrect_Update_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Incorrect/Update Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_PO_Incorrect_Update_Required</targetReference>
            </connector>
            <label>PO Incorrect/Update Required</label>
        </rules>
        <rules>
            <name>Customer_Not_Responding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Not Responding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Customer_Not_Responding</targetReference>
            </connector>
            <label>Customer Not Responding</label>
        </rules>
        <rules>
            <name>Customer_Requested_Cancelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Requested Cancelation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Customer_Requested_Cancellation</targetReference>
            </connector>
            <label>Customer Requested Cancelation</label>
        </rules>
        <rules>
            <name>PO_Assigned_to_Wrong_Installer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Assigned to Wrong Installer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_PO_Assigned_to_Wrong_Installer</targetReference>
            </connector>
            <label>PO Assigned to Wrong Installer</label>
        </rules>
        <rules>
            <name>Questions_Concerns_on_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Questions/Concerns on PO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Questions_Concerns_on_PO</targetReference>
            </connector>
            <label>Questions/Concerns on PO</label>
        </rules>
        <rules>
            <name>Product_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Not Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Product_0_0</targetReference>
            </connector>
            <label>Product Not Available</label>
        </rules>
        <rules>
            <name>Product_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Product_Received</targetReference>
            </connector>
            <label>Product Received</label>
        </rules>
        <rules>
            <name>Product_Delayed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Delayed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Product_0</targetReference>
            </connector>
            <label>Product Delayed</label>
        </rules>
        <rules>
            <name>Product_Damaged_Defective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Damaged/Defective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Product</targetReference>
            </connector>
            <label>Product Damaged/Defective</label>
        </rules>
        <rules>
            <name>Product_Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Incorrect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Pending_Product_0_0_0</targetReference>
            </connector>
            <label>Product Incorrect</label>
        </rules>
        <rules>
            <name>FM_RM_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FM/RM Updated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_FM_RM_Updated</targetReference>
            </connector>
            <label>FM/RM Updated</label>
        </rules>
        <rules>
            <name>Store_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store Updated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Store_Updated</targetReference>
            </connector>
            <label>Store Updated</label>
        </rules>
        <rules>
            <name>PO_Assistance_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installer_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Assistance Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_PO_Assistance_Confirmed</targetReference>
            </connector>
            <label>PO Assistance Confirmed</label>
        </rules>
    </decisions>
    <description>Flow that updates Status/Sub Status fields and creates PO Notes when Installer Action field is updated.</description>
    <formulas>
        <name>formula_Today</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>var_PONote_Name</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_PONote}, 80)</expression>
    </formulas>
    <interviewLabel>Work Order: Installer Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Installer Action (Update Only)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PO_Note</name>
        <label>Create: PO Note</label>
        <locationX>2558</locationX>
        <locationY>1607</locationY>
        <inputAssignments>
            <field>Auto_Push__c</field>
            <value>
                <elementReference>var_Autopush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_PONote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_PONote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Note__c</field>
            <value>
                <elementReference>var_PrivateNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Auto_Generated_Note_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auto_Generated_Note_Record_Type</name>
        <label>Get Auto Generated Note Record Type</label>
        <locationX>2558</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PO_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Generated Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Notes_Previous_Customer_Contact</name>
        <label>Get PO Notes (Previous Customer Contact)</label>
        <locationX>3350</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Left_Message_PO_Note</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Left Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Not Ready, will call RFI when ready to scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update: Work Order</label>
        <locationX>2690</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Decision_Has_PO_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Installer_Action__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>var_SubStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2564</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Installer_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installer_Action__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Autopush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_PONote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is PO Note Private?</description>
        <name>var_PrivateNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ProductReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UpdatedETA</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
