CostalCloud/force-app/main/default/flows/Work_Order_AFTER_Flow_On_Create_ONLY.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Kitchen_Work_Order_AFTER_0</name>
        <label>Create Kitchen Work Order</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <actionName>SG_WorkOrderHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderList</name>
            <value>
                <elementReference>newKitchenWorkOrder</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_New_Kitchen_Work_Order_AFTER_0</name>
        <label>Set New Kitchen Work Order</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124x000000dWr1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1314x000000gpF7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q4x0000005AR8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kitchen Product Check-in Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Initial Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Client_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Store__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Job_SKU_lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job_SKU_lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Expected_Arrival_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newKitchenWorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Kitchen_Work_Order_AFTER_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_new_WO_Job_SKU_Kitchens_and_svc_type_Install_AFTER_0</name>
        <label>If new WO, Job SKU Kitchens and svc type Install</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_new_WO_Job_SKU_is_Kitchens_and_Install_AFTER_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.svcTypeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_SKU_lookup__r.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kitchens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Kitchen_Work_Order_AFTER_0</targetReference>
            </connector>
            <label>Yes, new WO, Job SKU is Kitchens and Install</label>
        </rules>
    </decisions>
    <description>Changed kitchen work order creation to happen 1 minute later</description>
    <interviewLabel>Work Order AFTER Flow - On Create ONLY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order AFTER Flow - On Create ONLY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Create_Kitchen_Work_Order_Asynchronously</name>
            <connector>
                <targetReference>If_new_WO_Job_SKU_Kitchens_and_svc_type_Install_AFTER_0</targetReference>
            </connector>
            <label>Create Kitchen Work Order Asynchronously</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newKitchenWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
