CostalCloud/force-app/main/default/flows/Work_Order_Client_PO_Status_Changed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Cancelled</name>
        <label>Assign: Cancelled</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canceled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Found to be Cancelled in Client System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Changed</name>
        <label>Assign: Changed</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Payment Resolution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Changed in Client System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargeback_Created</name>
        <label>Assign: Chargeback Created</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chargeback in Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.POStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargeback_Needed</name>
        <label>Assign: Chargeback Needed</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chargeback in Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.POStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chargeback_Review_Needed</name>
        <label>Assign: Chargeback Review Needed</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chargeback in Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.POStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Not_Found</name>
        <label>Assign: Not Found</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canceled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Not Found in Client System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Issue_Resolved</name>
        <label>Assign: Payment Issue Resolved</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid In Full</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order Paid In Full</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unapproved_Chargeback</name>
        <label>Assign: Unapproved Chargeback</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_SubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chargeback in Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PONote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.POStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Client_PO_Status</name>
        <label>Decision: Client PO Status</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Not_Found</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cancelled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Changed</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
        <rules>
            <name>Chargeback_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargeback_Needed</targetReference>
            </connector>
            <label>Chargeback Needed</label>
        </rules>
        <rules>
            <name>Unapproved_Chargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unapproved Chargeback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unapproved_Chargeback</targetReference>
            </connector>
            <label>Unapproved Chargeback</label>
        </rules>
        <rules>
            <name>Chargeback_Review_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback Review Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargeback_Review_Needed</targetReference>
            </connector>
            <label>Chargeback Review Needed</label>
        </rules>
        <rules>
            <name>Chargeback_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargeback_Created</targetReference>
            </connector>
            <label>Chargeback Created</label>
        </rules>
        <rules>
            <name>Payment_Issue_is_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Issue is Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Issue_Resolved</targetReference>
            </connector>
            <label>Payment Issue is Resolved</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order: Client PO Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Client PO Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PO_Note</name>
        <label>Create PO Note</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Auto_Push__c</field>
            <value>
                <elementReference>var_AutoPush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_PONote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_PONote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Note__c</field>
            <value>
                <elementReference>var_Private</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Auto_Generated_Note_Record_Type_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auto_Generated_Note_Record_Type_0</name>
        <label>Get Auto Generated Note Record Type</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PO_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Generated Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Get_Auto_Generated_Note_Record_Type_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetWarrantyId</field>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>var_SubStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Client_PO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AutoPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_PONote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Private</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Exported</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
