CostalCloud/force-app/main/default/flows/Youreka_link_obstacles_to_the_Wall.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Youreka link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youreka link obstacles to the Wall</label>
    <loops>
        <name>Loop_through_appliances</name>
        <label>Loop through appliances</label>
        <locationX>176</locationX>
        <locationY>3191</locationY>
        <collectionReference>Get_Appliances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Appliance</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_doors</name>
        <label>Loop through doors</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Doors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Door</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Windows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_electrical</name>
        <label>Loop through electrical</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <collectionReference>Get_Electrical</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Electrical</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Soffits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_HVAC</name>
        <label>Loop through HVAC</label>
        <locationX>176</locationX>
        <locationY>2735</locationY>
        <collectionReference>Get_HVAC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_HVAC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Appliances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_plumbing</name>
        <label>Loop through plumbing</label>
        <locationX>176</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_Plumbing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Plumbing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_HVAC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_soffits</name>
        <label>Loop through soffits</label>
        <locationX>176</locationX>
        <locationY>1823</locationY>
        <collectionReference>Get_Soffits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Soffit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Plumbing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_windows</name>
        <label>Loop through windows</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Windows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Window</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Electrical</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appliances</name>
        <label>Get Appliances</label>
        <locationX>176</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_appliances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doors</name>
        <label>Get Doors</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_doors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Door__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Electrical</name>
        <label>Get Electrical</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_electrical</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Electrical__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HVAC</name>
        <label>Get HVAC</label>
        <locationX>176</locationX>
        <locationY>2615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_HVAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HVAC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plumbing</name>
        <label>Get Plumbing</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_plumbing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plumbing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Soffits</name>
        <label>Get Soffits</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_soffits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Soffit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Windows</name>
        <label>Get Windows</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_windows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Window__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appliance</name>
        <label>Update Appliance</label>
        <locationX>264</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Loop_through_appliances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_appliances.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Appliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Door</name>
        <label>Update Door</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Loop_through_doors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_doors.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Door__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Electrical</name>
        <label>Update Electrical</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Loop_through_electrical</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_electrical.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Electrical__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HVAC</name>
        <label>Update HVAC</label>
        <locationX>264</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Loop_through_HVAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_HVAC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>HVAC__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plumbing</name>
        <label>Update Plumbing</label>
        <locationX>264</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>Loop_through_plumbing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_plumbing.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plumbing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Soffit</name>
        <label>Update Soffit</label>
        <locationX>264</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Loop_through_soffits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_soffits.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Soffit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Window</name>
        <label>Update Window</label>
        <locationX>264</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Loop_through_windows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_windows.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wall__c</field>
            <value>
                <elementReference>$Record.Wall__c</elementReference>
            </value>
        </inputAssignments>
        <object>Window__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Doors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>disco__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUBMITTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>disco__Form_Template_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Wall Measure</stringValue>
            </value>
        </filters>
        <filters>
            <field>disco__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>disco__Form__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
