CostalCloud/force-app/main/default/flows/Youreka_Form_Created_Documents.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Define_client_type_Install</name>
        <label>Define client type (Install)</label>
        <locationX>1364</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Fields_to_trigger_Form_TCS_I</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RFI I</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_all_forms_in_the_group</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
        <rules>
            <name>THD_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>THD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_to_trigger_Form_THD_I</targetReference>
            </connector>
            <label>THD I</label>
        </rules>
        <rules>
            <name>DDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.DDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_DDR</targetReference>
            </connector>
            <label>DDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Define_client_type_Measure</name>
        <label>Define client type (Measure)</label>
        <locationX>4004</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Fields_to_trigger_Form_TCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RFI M</defaultConnectorLabel>
        <rules>
            <name>THD_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>THD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Work_Order_Line_Item__r.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Kitchen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_to_trigger_Form_THD</targetReference>
            </connector>
            <label>THD M</label>
        </rules>
        <rules>
            <name>Is_null_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_all_forms_in_the_group</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_RFI</name>
        <label>Fields to trigger Form RFI</label>
        <locationX>4576</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Update_WO_RFI_M</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RRP_Required_RFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_RFI_M_RRP</targetReference>
            </connector>
            <label>RRP Required</label>
        </rules>
        <rules>
            <name>RRP_Exception_Approval_Status_RFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Exception_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Entry Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_RFI_M_RRP_EAS</targetReference>
            </connector>
            <label>RRP Exception Approval Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_RFI_I</name>
        <label>Fields to trigger Form RFI I</label>
        <locationX>2464</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RRP_Required_RFI_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_RFI_I_RRP</targetReference>
            </connector>
            <label>RRP Required</label>
        </rules>
        <rules>
            <name>RRP_Exception_Approval_Status_RFI_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Exception_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Entry Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_RFI_I_RRP_EAS</targetReference>
            </connector>
            <label>RRP Exception Approval Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_TCS</name>
        <label>Fields to trigger Form TCS</label>
        <locationX>4576</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Fields_to_trigger_Form_RFI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_TCS_M_SO</targetReference>
            </connector>
            <label>Service Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_TCS_I</name>
        <label>Fields to trigger Form TCS I</label>
        <locationX>2464</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Fields_to_trigger_Form_RFI_I</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Order_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_TCS_I_SO</targetReference>
            </connector>
            <label>Service Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_THD</name>
        <label>Fields to trigger Form THD</label>
        <locationX>3432</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_WO_THD_M</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RRP_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_M_RRP</targetReference>
            </connector>
            <label>RRP required</label>
        </rules>
        <rules>
            <name>RRP_req_Rhode_Island</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Account.BillingState</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rhode Island</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_M_RRP_RI</targetReference>
            </connector>
            <label>RRP req + Rhode Island</label>
        </rules>
        <rules>
            <name>RRP_Exception_Approval_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Exception_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Entry Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_M_RRP_EAS</targetReference>
            </connector>
            <label>RRP Exception Approval Status</label>
        </rules>
        <rules>
            <name>Kitchen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order_Line_Item__r.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Kitchen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_M_K</targetReference>
            </connector>
            <label>Kitchen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_to_trigger_Form_THD_I</name>
        <label>Fields to trigger Form THD I</label>
        <locationX>1100</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_WO_THD_I</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RRP_required_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_I_RRP</targetReference>
            </connector>
            <label>RRP required</label>
        </rules>
        <rules>
            <name>RRP_req_Rhode_Island_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Required_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Account.BillingState</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rhode Island</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_I_RRP_RI</targetReference>
            </connector>
            <label>RRP req + Rhode Island</label>
        </rules>
        <rules>
            <name>RRP_Exception_Approval_Status_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.RRP_Exception_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Entry Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_I_RRP_EAS</targetReference>
            </connector>
            <label>RRP Exception Approval Status</label>
        </rules>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Change_Order_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_I_CO</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
        <rules>
            <name>Split_Reduced_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Work_Order__r.Split_Reduced_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_THD_I_SRR</targetReference>
            </connector>
            <label>Split/Reduced Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Install_or_Measure_Form</name>
        <label>Install or Measure Form</label>
        <locationX>3190</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Install_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.disco__Form_Template_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Install Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_client_type_Install</targetReference>
            </connector>
            <label>Install Form</label>
        </rules>
        <rules>
            <name>Measure_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.disco__Form_Template_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measure Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_client_type_Measure</targetReference>
            </connector>
            <label>Measure Form</label>
        </rules>
    </decisions>
    <interviewLabel>Youreka Form - Created Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youreka Form - Created Documents</label>
    <loops>
        <name>Check_all_forms_in_the_group</name>
        <label>Check all forms in the group</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Form_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Form</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Form</name>
        <label>Get Form</label>
        <locationX>3190</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Install_or_Measure_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_all_forms_in_the_group.Form__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Group</name>
        <label>Get Form Group</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormGroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_Group__c</object>
        <sortField>Form__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_DDR</name>
        <label>Update WO (DDR)</label>
        <locationX>1936</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDR__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_RFI_I_RRP</name>
        <label>Update WO (RFI I RRP)</label>
        <locationX>2200</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Safe_Renovation_Checklist__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Renovation_Form__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_RFI_I_RRP_EAS</name>
        <label>Update WO (RFI I RRP_EAS)</label>
        <locationX>2464</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Test_Exemption_Form__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_RFI_M</name>
        <label>Update WO (RFI M)</label>
        <locationX>4576</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RFI_Measure__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_RFI_M_RRP</name>
        <label>Update WO (RFI M RRP)</label>
        <locationX>4312</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_WO_RFI_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pre_Renovation_Form__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_RFI_M_RRP_EAS</name>
        <label>Update WO (RFI M RRP_EAS)</label>
        <locationX>4576</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_WO_RFI_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Test_Exemption_Form__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_TCS_I_SO</name>
        <label>Update WO (TCS I SO)</label>
        <locationX>2332</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Fields_to_trigger_Form_RFI_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Report__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_TCS_M_SO</name>
        <label>Update WO (TCS M SO)</label>
        <locationX>4444</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Fields_to_trigger_Form_RFI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Report__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I</name>
        <label>Update WO (THD I)</label>
        <locationX>1100</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_329_ICA__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I_CO</name>
        <label>Update WO (THD I CO)</label>
        <locationX>1232</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Order_Request__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I_RRP</name>
        <label>Update WO (THD I RRP)</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_105_Receipt_of_Lead_Paint_Pamphlet__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_115_Lead_Paint_Renovation__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_119_Lead_Test_Results__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I_RRP_EAS</name>
        <label>Update WO (THD I RRP EAS)</label>
        <locationX>968</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_118_LSWP_Exception__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I_RRP_RI</name>
        <label>Update WO (THD I RRP RI)</label>
        <locationX>704</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_105_Receipt_of_Lead_Paint_Pamphlet__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_115_Lead_Paint_Renovation__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_119_Lead_Test_Results__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_125_Rhode_Island_Lead_Start_Work__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_I_SRR</name>
        <label>Update WO (THD I SRR)</label>
        <locationX>1496</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Install2GO_Form__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_M</name>
        <label>Update WO (THD M)</label>
        <locationX>3432</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Check_all_forms_in_the_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_333_National_Measure_Door__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_M_K</name>
        <label>Update WO (THD M K)</label>
        <locationX>3696</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Labor_Bid__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_M_RRP</name>
        <label>Update WO (THD M RRP)</label>
        <locationX>2904</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_105_Receipt_of_Lead_Paint_Pamphlet__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_119_Lead_Test_Results__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_M_RRP_EAS</name>
        <label>Update WO (THD M RRP EAS)</label>
        <locationX>3432</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_118_LSWP_Exception__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_THD_M_RRP_RI</name>
        <label>Update WO (THD M RRP RI)</label>
        <locationX>3168</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_WO_THD_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_105_Receipt_of_Lead_Paint_Pamphlet__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_119_Lead_Test_Results__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_125_Rhode_Island_Lead_Start_Work__c</field>
            <value>
                <stringValue>Document Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Form_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
