CostalCloud/force-app/main/default/flows/Youreka_Form_Submitted_Update_WOLI_fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Match_questions_and_answers_0_0</name>
        <label>Match questions and answers</label>
        <locationX>930</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Labor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Labor (1,2,8)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Labor (3,4,5,6,7,9)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Labor (10,11,12,13)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Labor (14,15,16,17,18)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Labor (22,23)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Additional_Labor_c</targetReference>
            </connector>
            <label>Additional Labor</label>
        </rules>
        <rules>
            <name>Basic_Labor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (EXTERIOR/PREHUNG-SLIDING-SLAB ONLY)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (EXTERIOR/FOLDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (EXTERIOR/IRON)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (SECURITY/STORM/SCREEN)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (INTERIOR/BARN)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (INTERIOR)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (MOULDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (WINDOW)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Labor (BLIND/SHADE)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Labor_c</targetReference>
            </connector>
            <label>Basic Labor</label>
        </rules>
        <rules>
            <name>Optional_Labor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (EXTERIOR/PREHUNG-SLIDING-SLAB ONLY)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (EXTERIOR/FOLDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (EXTERIOR/IRON)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (SECURITY/STORM/SCREEN)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (INTERIOR/BARN)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (INTERIOR)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (MOULDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (WINDOW)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Question.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optional Labor (BLIND/SHADE)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Optional_Labor_c</targetReference>
            </connector>
            <label>Optional Labor</label>
        </rules>
        <rules>
            <name>Installer_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Question__r.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installer Signature:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Order__r.Installer_Signature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Homeowner_Signature</targetReference>
            </connector>
            <label>Installer Signature</label>
        </rules>
        <rules>
            <name>Homeowner_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Question__r.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homeowner Signature:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Order__r.Homeowner_Signature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Installer_Signature</targetReference>
            </connector>
            <label>Homeowner Signature</label>
        </rules>
        <rules>
            <name>Renovator_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_question_on_the_Form.disco__Question__r.disco__Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renovator Signature:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Order__r.Renovator_Signature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Installer_Signature_0</targetReference>
            </connector>
            <label>Renovator Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_specific_form_template</name>
        <label>Only specific form template</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Measure_or_Change_Order_form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.disco__Form_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measure Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.disco__Form_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.disco__Form_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Order: Check Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Answer_0</targetReference>
            </connector>
            <label>Measure or Change Order form</label>
        </rules>
    </decisions>
    <interviewLabel>Youreka Form Submitted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youreka Form Submitted -&gt; Update WOLI fields</label>
    <loops>
        <name>Check_question_on_the_Form</name>
        <label>Check question on the Form</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Answer_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Question</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Answer_0</name>
        <label>Get Answer</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>disco__Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>disco__Hidden_By_Dep__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>disco__Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Question</name>
        <label>Get Question</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_questions_and_answers_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Question__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>disco__Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Additional_Labor_c</name>
        <label>Update Additional_Labor__c</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Labor__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Basic_Labor_c</name>
        <label>Update Basic_Labor__c</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Basic_Labor__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Homeowner_Signature</name>
        <label>Update Homeowner Signature</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Homeowner_Signature__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Installer_Signature</name>
        <label>Update Installer Signature</label>
        <locationX>1194</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Installer_Signature__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Installer_Signature_0</name>
        <label>Update Installer Signature</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renovator_Signature__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Long_Text_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Optional_Labor_c</name>
        <label>Update Optional_Labor__c</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_question_on_the_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Optional_Labor__c</field>
            <value>
                <elementReference>Check_question_on_the_Form.disco__Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_YF_Created_Documents_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>disco__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUBMITTED</stringValue>
            </value>
        </filters>
        <object>disco__Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_YF_Created_Documents_flow</name>
        <label>Call YF - Created Documents flow</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Only_specific_form_template</targetReference>
        </connector>
        <flowName>Youreka_Form_Created_Documents</flowName>
        <inputAssignments>
            <name>FormGroupID</name>
            <value>
                <elementReference>$Record.Form_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
